<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %} <title> Lpcal libri </title>{%endblock%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device.width , initial.scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.main.css">
    <script src="text/javascript"></script>
    <script src="text/python"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">

          {%block sidebar%}
          <ul class="sidebar-nav">
            <li><a href="{% url 'app:index' %}">صفحه اصلی</a></li>
            <li><a href="">مدیون</a></li>
            <li><a href="">کارشناس</a></li>
            <li><a href="">مدیریت شعب</a></li>
            <li><a href="">شعب</a></li>

          </ul>
          {%endblock%}
        </div>
        <div class="col-sm-10">
          {%block content%}{%endblock%}
        </div>








      </div>

    </div>

  </body>
</html>
