{% extends "app/base_generic.html" %}

{% block content %}


<h1> اتوماسیون مطالبات معوق</h1>
  <p> به سیستم <em> مطالبات معوق </em>  خوش آمدین  </p>

  <p> تعداد اطلاعات موجود به شرح ذیل : </p>
  <ul>
    <li><strong>تعداد مدیون :</strong>{{numebrOfmadion}}</li>
    <li><strong>تعداد کارشناس :</strong>{{numebrOfKarshenas}}</li>
    <li><strong>تعداد مدیریت :</strong>{{numebrOfModiriat}}</li>
    <li><strong>تعداد شعب :</strong>{{numebrOfShobe}}</li>
  </ul>



{% endblock %}
