{% extends "app/base_generic.html" %}

{% block content %}
<h1> سیستم مطالبات معوق </h1>
  <p> به سیستم <em> مطالبات معوق </em> , خوش آمدین  </p>
<h2> Dynamice Content  </h2>
  <p> The libri have Following record cont </p>
  <ul>
    <li><strong>numebrOfmadion :</strong>{{numebrOfmadion}}</li>
    <li><strong>numebrOfKarshenas :</strong>{{numebrOfKarshenas}}</li>
    <li><strong>numebrOfModiriat :</strong>{{numebrOfModiriat}}</li>
    <li><strong>numebrOfShobe :</strong>{{numebrOfShobe}}</li>
  </ul>
{% endblock %}
