{% extends "app/base_generic.html" %}

{% block content %}

    <hl> title : {{Madion.madion_name}}</hl>
    <p><strong>نام مدیون</strong><a href="">{{Madion.karshenas_name}}</a></p>
    <p><strong>نام شرکت</strong>{{madion_compani}}</p>
    <p><strong>ضامن 1</strong>{{madion_zamen1}}</p>
    <p><strong>ضامن 2</strong>{{madion_zamen2}}</p>
    <p><strong>ضامن 3</strong>{{madion_zamen3}}</p>
    <p><strong>نوع قرارداد</strong>{{noe_madion}}</p>
    <p><strong>مدیریت شعبه</strong>{{modiriat_name}}</p>
    <p><strong>شعبه</strong>{{shobe_name}}</p>
    <p><strong>نام کارشناس</strong>{{karshenas_name}}</p>
    <p><strong>کلاسه اصلی</strong>{{kelase_asli}}</p>
    <p><strong>کلاسه نیابتی</strong>{{kelase_niabati}}</p>
    <p><strong>تاریخ ارجاع پرونده</strong>{{date_erjae}}</p>
    <p><strong>تاریخ عودت پرونده</strong>{{odat_banck}}</p>

    <div style="margin-left:20px;margin-top=20px">


    </div>

    <hr>

{% endblock %}
